<div class="container-fluid">
    <div class="row header  fixed-top">
        <div class="col-12 col-lg-1 mt-3 d-flex justify-content-center align-items-center">
            <app-sidebar></app-sidebar>
        </div>
        
        <div class="col-12 col-lg-10 mt-3 mb-3 d-flex justify-content-center">
            <app-header></app-header>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-lg-12">

            <router-outlet></router-outlet>

        </div>
        
    </div>
</div>